<h1>Point of Sale Application</h1>
<%= link_to 'Product List', controller: 'products' %>
<%= link_to 'Cashier List', controller: 'cashiers' %>
<%= link_to 'Order List', controller: 'orders' %>

<!-- ^^ Controllers will always link to the INDEX of a controller-->