<h1>Order Summary</h1>
<% total = 0.0 %>
<% @order_lines.each do |order_line| %>
    <tr>
      <td><%= Product.find(order_line.product_id_id).name %></td>
      <td><%= order_line.quantity %></td>
      <td><%= order_line.price %></td>
    </tr>
    <% total += (order_line.quantity * order_line.price)%>
<% end %>
<p>
    Total Price: <%= total %>
</p>
<%= form_for @order, :url => {:controller => "order"} do |i| %>
    <p>
        <%= i.label :cash %><br>
        <%= i.text_field :cash %>
    </p>
    <% @order.total_price = total %>
    <%= i.hidden_field :total_price, value: total %>
    <%= i.submit %>
<% end %>