<style>
  h1{
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
  }
  
  #links{
        text-align: center;
  }
  
  #table{
      color: #333333; 
      font-family: 'Muli', sans-serif; 
      font-size: 18px; 
      line-height: 28px; 
      margin: 0 0 28px;
    }
</style>

<h1>Orders</h1>
<div id = "links">
<%= link_to 'Home', '/', class: 'btn btn-primary' %>
<!-- '/' refers to the home page-->
<%= link_to 'New Order', new_order_path, class: 'btn btn-success' %>
</div>
<table class="table table-striped">
    <tr>
        <th>Cashier</th>
        <th>Total Price</th>
        <th>Cash</th>
        <th colspan="3"></th>
    </tr>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.cashier_id %></td>
          <td><%= order.total_price %></td>
          <td><%= order.cash %></td>
          <td><%= button_to 'Remove', order_path(order),
              method: :delete,
              class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
</table>