<h1>New Order</h1>
<%= simple_form_for @order do |f| %>
<%= f.error_notification %>
  <h3>Tasks</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead> 
    <tbody>
    <%= f.simple_fields_for :order_lines do |ol| %>
      <%= render 'order_line_fields', f: ol %>
    <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to_add_association 'Add Product', f, :order_lines, class: 'btn btn-primary'%>
    <%= f.button :submit %>
  </div>
<% end %>