<style>
        h1{
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
    }
    
    #content{
        color: #333333; 
        font-family: 'Muli', sans-serif; 
        font-size: 18px; 
        line-height: 28px; 
        margin: 0 0 28px;
        text-align: center;
    }
    #content2
    {
        text-align:center;
    }
</style>

<h1>Edit Cashier</h1>

<div id="content">
<%= form_for (@cashier) do |i| %>
    <p>
        <%= i.label :name %>
        <%= i.text_field :name %>
    </p>
    <p>
        <%= i.label :email %>
        <%= i.email_field :email %>
    </p>
    <p>
        <%= i.label :status %>
        <%= i.text_field :status %>
    </p>
</div>

<div id="content2">
    <p>
        <%= i.submit %>
    </p>
<% end %>
<%= link_to 'Back', cashiers_path, class: 'btn btn-primary btn-sm' %>
</div>