<style>
  h1{
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
  }
  
  #links{
        text-align: center;
  }
  
  #table{
      color: #333333; 
      font-family: 'Muli', sans-serif; 
      font-size: 18px; 
      line-height: 28px; 
      margin: 0 0 28px;
    }
</style>

<h1>Cashiers</h1>
<div id = "links">
  <%= link_to 'Home', '/', class: 'btn btn-primary' %>
  <!-- '/' refers to the home page-->
  <%= link_to 'New Cashier', new_cashier_path, class: 'btn btn-success' %>
  <!-- ^^^links to new.html.erb from the products controller -->
</div>

<div id = "table">
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Availability</th>
    <th colspan="3"></th>
  </tr>
 
  <% @cashiers.each do |cashier| %>
    <tr>
      <td><%= cashier.email %></td>
      <td><%= cashier.name %></td>
      <!--<td><%= cashier.status %></td>-->
      <td>
      <% if cashier.status == true %>
        <%= 'Active' %>
      <% else %>
        <%= 'Inactive' %>
      <%end%>
      </td>
      <td><%= link_to 'View', cashier_path(cashier), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_cashier_path(cashier), class: 'btn btn-info' %></td>
      <!--should it be product.id or nah-->
      <td><%= button_to 'Remove', cashier_path(cashier),
              method: :delete,
              class: 'btn btn-danger' %></td>
      <!-- Destroy has been temporarily fixed by switching link_to with button_to -->
      <!-- "(product)" refers to the product in question from @products.each-->
      <td colspan="2"></td>
    </tr>
  <% end %>
</table>
</div>