<style>
    h1 {
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
    }
    
    #content{
        color: #333333; 
        font-family: 'Muli', sans-serif; 
        font-size: 18px; 
        line-height: 28px; 
        margin: 0 0 28px;
    }
    #content{
        text-align: justify;
        margin: 0 auto;
        width: 20em;
    }
    #content2{
        text-align: center;
    }
    
</style>
<h1>Cashier Information</h1>
<div id = "content">
<p>
    <strong>Cashier Name: </strong><%= @cashier.name %>
</p>
<p>
    <strong>Cashier Email: </strong><%= @cashier.email %>
</p>
<p>
    <strong>Cashier Availability: </strong>
<!--    <%= @cashier.status %>-->
    <% if @cashier.status==true %>
        <%= 'Active' %>
    <% else %>
        <%= 'Inactive' %>
    <%end%>
</p>
</div>

<div id = "content2">
<%= link_to 'Edit', edit_cashier_path(@cashier), class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', cashiers_path, class: 'btn btn-primary btn-sm' %>
</div>