<%= simple_form_for(:products) do |f| %>
<tr class="nested-fields">
  <td><%= f.collection_select :order_line_id, Product.all, :id, :name %></td>
  <td><%= f.input :quantity, label: false %></td>
  <td><%= f.input :price, label: false %></td>
</tr>
<% end %>