
    <div class="nested-fields">
      <%= f.collection_select :product_id, Product.all, :id, :name, :prompt => true %>
      <div class="field">
      <%= f.input :quantity %>
    
      </div>
    </div>