<h1>New Order</h1>
<%= form_for @order_line, :url => {:controller => "order_line"} do |i| %>
    <p>
        <%= i.collection_select(:product_id_id, Product.all, :id, :name ) %>
    </p>
    <p>
        <%= i.label :quantity %><br>
        <%= i.text_field :quantity %>
    </p>
    <p>
        <%= i.submit 'Finish', name: 'finish' %>
        <%= i.submit 'Next' %>
    </p>
<% end %>