<h1>Order Lines</h1>
<%= link_to 'Home Page', '/', class: 'btn btn-primary' %>
<table>
    <tr>
        <th>Cashier</th>
        <th>Total Price</th>
        <th>Cash</th>
        <th colspan="3"></th>
    </tr>
    <% @order_lines.each do |order_line| %>
        <tr>
          <td><%= order_line.product_id_id %></td>
          <td><%= order_line.price %></td>
          <td><%= order_line.quantity %></td>
          <td><%= button_to 'Remove', order_line_path(order_line),
              method: :delete,
              class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
</table>