<h1>New Order</h1>
<%= simple_form_for @order do |f| %>
  <h3>Tasks</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead> 
    <%= f.simple_fields_for :order_lines do |ol| %>
      <%= render 'order_lines_fields', f: ol %>
    <% end %>
  </table>
  <div class="links">
    <%= link_to_add_association 'Add Product', f, :order_lines, class: 'btn btn-primary'%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>