<style>
  h1{
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
  }
  
  #links{
        text-align: center;
  }
  
  #table{
      color: #333333; 
      font-family: 'Muli', sans-serif; 
      font-size: 18px; 
      line-height: 28px; 
      margin: 0 0 28px;
    }
</style>

<h1>Product List</h1>
<div id = "links">
<%= link_to 'Home', '/', class: 'btn btn-primary' %>
<!-- '/' refers to the home page-->
<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
<!-- ^^^links to new.html.erb from the products controller -->
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Availability</th>
    <th colspan="3"></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><!--<%= product.status %>-->
      <% if product.status==true %>
        <%= 'Available' %>
      <% else %>
        <%= 'Unavailable' %>
      <%end%></td>
      <td><%= link_to 'View', product_path(product), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-info' %></td>
      <!--should it be product.id or nah-->
      <td><%= button_to 'Remove', product_path(product),
              method: :delete,
              class: 'btn btn-danger' %></td>
      <!-- Destroy has been temporarily fixed by switching link_to with button_to -->
      <!-- "(product)" refers to the product in question from @products.each-->
      <td colspan="2"></td>
    </tr>
  <% end %>
</table>