<style>
    h1{
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
    }
    
    #content{
        color: #333333; 
        font-family: 'Muli', sans-serif; 
        font-size: 18px; 
        line-height: 28px; 
        margin: 0 0 28px;
        text-align: center;
    }
    #content2
    {
        text-align:center;
    }
</style>

<h1>Create a New Product!</h1>
<div id ="content">
<%= form_for :product, url: products_path do |i| %>
    <p>
        <%= i.label :name %><br>
        <%= i.text_field :name %>
    </p>
    <p>
        <%= i.label :price %><br>
        <%= i.text_field :price%>
    </p>
</div>
<div id = "content2">    
    <p>
        <%= i.submit %>
    </p>
<% end %>
<%= link_to 'Back', products_path, class: 'btn btn-primary btn-sm' %>
</div>
<!-- ^^ links back to the "/products" path, which refers to the Controller's index"-->

<!-- form_for is built-in with Rails
same with .label, .text_field and .submit-->