<style>
    h1 {
        color: black;
        font-family: 'Trebuchet MS', Helvetica, sans-serif; 
        font-size: 65px; 
        font-weight: normal; 
        line-height: 60px; 
        margin: 10px 0 20px; 
        text-transform: uppercase; 
        text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
        text-align: center;
    }
    
    #content{
        color: #333333; 
        font-family: 'Muli', sans-serif; 
        font-size: 18px; 
        line-height: 28px; 
        margin: 0 0 28px;
    }
    #content{
        text-align: justify;
        margin: 0 auto;
        width: 20em;
    }
    #content2{
        text-align: center;
    }
</style>
<h1>Product Information</h1>
<div id = "content">
<p>
    <strong>Product Name: </strong><%= @product.name %>
</p>
<p>
    <strong>Product Price: </strong><%= @product.price %>
</p>
<p>
    <strong>Product Availability: </strong><!--<%= @product.status %>-->
    <% if @product.status==true %>
        <%= 'Available' %>
    <% else %>
        <%= 'Unavailable' %>
    <%end%>
</p>
</div>
<div id = "content2">
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', products_path, class: 'btn btn-primary btn-sm' %>
</div>